doctype html 
html(lang='fr')
head 
title= title
body 
h1= h1
p= message

form(method="POST" action="/user/register")
  label( for="inputEmail" class="sr-only") Adresse mail
  input(type="email" name="email" id="inputEmail")

  label(for="inputPassword") Votre mot de passe
  input(type="password" name="password" id="inputPassword")

  label(for="inputPhoneNumber") Votre numéro de téléphone
  input(
    type="text" 
  name="phoneNumber" 
  id="inputPhoneNumber"
  )
  label(for="inputCivility") Civilité
  select#inputCivility(name="civility") 
    option(value="mr") Monsieur
    option(valuer="mme") Madame
  label(for="inputFirstName") Votre Prénom
  input(type="text" name="firstName" id="inputFirstName")
  label(for="inputLastName") Votre Nom
  input(type="text" name="lastName" id="inputLastName")
  label(for="inputDate") Votre date de naissance
  input(type="date" name="birthDate" id="inputDate")
  label(for="inputNationality") Votre nationalité
  input(type='text' name="nationality" id="inputNationality")
  label(for="inputResidence") Votre pays de résidence
  input(type="text" name="residence" id="inputResidence")
  label(for="inputType") Quel typoe d'utilisateur voulez vous etre ? 
  select(name="type" id="inputType") 
    option(value="expert") Expert
    option(valuer="school") École
  input(type="submit" value="inscription") 



form(method='get' action='/user/login')
  label(for="loginMail") connectez-vous 
  input(type="text" name='email' id='loginMail')
  input(type="submit" value="login") 
